.tag{
    padding: 2%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: cornflowerblue;
    display: inline-block;
}
.tag-penguins{
    background-color: coral;
}
.tag-chaise{
    background-color: lightseagreen;
}