.render_panel{
    min-height: 50px;
    position: relative;
}

.tag {
    padding: 2px 4px;
    border: 1px solid black;
    display: inline-block;
    font-family: 'Original Surfer';
    font-size: 1.1em;
    background-color: rgb(183, 188, 192);
    color: #2C3531;
    border-radius: 6px;
    border-color: #2C3531;
    margin-top: 10px;
    margin-right: 8px;
}