.tag_panel{
    min-height: 50px;
    position: relative;
    display: inline-block;
    margin-top: 2%;
}

.tag_add_button{
    cursor: pointer;
    margin-right: 2%;
    background-color: rgba(153, 222, 219, 0.274);
    color: rgb(48, 46, 46);
    padding: 0 3%;
    font-size: 1.2em;
    border-radius: 6px;
    border: 1px solid #237E80;
    transition-duration: 0.3s;
    /* float: right; */
    display: inline-block;
    font-family: 'Original Surfer';
}