.about_us_container {
    /* background-color: white;
    color: #237E80; */
    background-color: #237E80;
    color: #F2F2F2;
    /* display: inline-block; */
    border: 20px solid #237E80;

}

.logo_img {
    width: 100%;
    display: inline;
    padding-top: 1%;
    padding-bottom: 5%;
}

h1 {
    display: inline;
}

.members {
    text-align: center;
    vertical-align: center;
}

.member>img {
    border: 1px #F2F2F2 solid;
    width: 22.5%;
    display: inline-block;
}