@font-face {    
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

/* Carousel CSS */
.center {
    text-align: center;
}

.flex-container { 
    display: flex;
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto; 
    background-color: white;
}


.center-all {
    margin: auto;
}

