@font-face {    
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.app {
    background-color: #000;
    color: #FFF;
    font-family: quest;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.app .logo {
    height: 220px;
    filter: drop-shadow(2px 2px 0px #FFF);
}

.app h1 {
    color: #61DAFB;
    font-size: 5em;
    letter-spacing: 5px;
    margin: 0.16em;
    text-shadow: 2px 2px 0 #FFF;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Carousel CSS */
.center {
    text-align: center;
}

.flex-container {
    display: flex;
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
}

.center-all {
    margin: auto;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(241, 158, 3); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #98FFA8; 
}