.carousel-container {
    border: 4px solid black;
    border-radius: 18px;
    display: inline-block;
    height: 80vh;
    overflow: hidden;
    position: relative;
    width: 90vw;
}

.carousel-text {
    margin-top: 0;
}

.carousel-img {
    width: 100%;
    position: absolute;
}

/* Next Image Classes */

.carousel-next-enter {
  /* opacity: 0.01; */
  left: 100%;
}

.carousel-next-enter.carousel-next-enter-active {
  left: 0;
  transition: left 500ms ease-in-out;
}

.carousel-next-leave {
  right: 0;
}

.carousel-next-leave.carousel-next-leave-active {
  right: 100%;
  transition: right 500ms ease-in-out;
}

/* Previous Image Classes */

.carousel-previous-enter {
  /* opacity: 0.01; */
  right: 100%;
}

.carousel-previous-enter.carousel-previous-enter-active {
  right: 0;
  transition: right 500ms ease-in-out;
}

.carousel-previous-leave {
  left: 0;
}

.carousel-previous-leave.carousel-previous-leave-active {
  left: 100%;
  transition: left 500ms ease-in-out;
}

/* Fade Image Classes */

.carousel-fade-enter {
  opacity: 0.01;
}

.carousel-fade-enter.carousel-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.carousel-fade-leave {
  opacity: 1;
}

.carousel-fade-leave.carousel-fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

/* Image Indicator */

.indicators {
    display: flex;
    margin: 20px 0;
    padding: 5px 20px;
}

.indicators .dot {
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: auto;
    width: 10px;
}

.indicators .dot.active {
    background-color: black;
}

.finished_button {
  position: relative;
  float: right;
  border: 2px solid red;
  bottom: 1vh;
}
