@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

.about_us_container {
    /* background-color: white;
    color: #237E80; */
    background-color: #237E80;
    color: #F2F2F2;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
}

.logo_img {
    width: 70%;
    display: block;
    padding-top: 1%;
    padding-bottom: 4%;
    margin: auto;
}

.member {
    display: inline-block;
    text-align: center;
    padding: 2%;
    text-shadow: 0 0;
    font-weight: normal;
    width: 100%;
}

.everybody {
    padding: 1% 5%;
}

.member>img {
    border: 1px #F2F2F2 solid;
    width: 22.5%;
    display: block;
    border-radius: 50%;
    
}

.frontend {
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 6px 6px #000000;
}

.backend {
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 6px 6px #000000;
}

.img_left {
    float: left;
} 

.img_right {
    float: right;
} 

.center{
    text-align: center;
}
.right{
    text-align: right;
}

.left{
    text-align: left;
}

.link_left{
    position: relative;
    top: 14vh;
    right: 23%;
}

.member_name_left{
    position: relative;
    top: 13vh;
    right: 23%;
}

.esther{
    position: relative;
    bottom: 13vh;
}

.member_name_right{
    position: relative;
    left: 21%;
}

.link_right{
    position: relative;
    left: 20%;
}

