@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

th {
    padding-bottom: 2%;
}

.about_container {
    min-height: 100vh;
    background-color: #E7FFFE;
    color: #2C3531;
    margin-top: 8vh;
    font-family: 'Roboto';
}

.about_container p {
    font-size: 16px;
    padding: 9% 4%;
    line-height: 1.7;
    margin-top: -4%;
}

.about_container>p>b {
    font-size: 18px;
}

.tech_container {
    width: 100vw;
    background-color: #E7FFFE;
}

.tech_container p {
    text-align: center;
}

.tech_title {
    text-align: center;
    font-size: 20px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.sqr {
    float: left;
    padding-right: 3%;
}

.imgs {
    border-radius: 12px;
    box-shadow: 3px 3px lightgrey;
    border: 1px solid lightgrey;
    background-color: white;
    margin: 0 1%;
    width: 75px;
    height: 75px;
}

.app_container_bottom {
    margin-top: 1%;
}

.app_container_bottom .imgs {
    width: 80px;
    height: 75px;
}

.app_container_bottom td:nth-child(1) {
    text-align: right;
    padding-right: 1%;
}

.app_container_bottom td:nth-child(2) {
    text-align: left;
    padding-left: 1%;
}

.html_logo {
    padding: 2%;
}

.css_logo {
    padding: 1%;
}

.js_logo {
    padding: 1%;
}

.react_logo {
    padding: 1% 0% 1% 3%;
}

.mySql_logo {
    padding: 2%;
}

.node_logo {
    padding: 1%;
}   

div.domain {
    margin-top: 2%;
    font-size: 20px;
    color: #2EB4BA;
}

.etcInfo {
    text-align: center;
}





@media only screen and (min-width: 600px){
    .about_container {
        max-height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: #E7FFFE;
    }

    .sqr {
        float: left;
        padding: 2% 3% 0 0;
        width: 10%;
    }

    .about_container p {
        font-size: 18px;
        padding: 11% 6% 2%;
        line-height: 1.7;
        margin-top: 0%;
    }

    .about_container>p>b {
        font-size: 25px;
    }

    .tech_container {
        width: 100vw;
        margin-top: 3%;
    }

    .tech_title {
        text-align: center;
        font-size: 24px;
    }

    th {
        padding-bottom: 3%;
        padding-top: 0;
        font-size: 18px;
    }

    .app_container_bottom td:nth-child(1) {
        text-align: right;
        padding-right: 1%;
    }
    
    .app_container_bottom td:nth-child(2) {
        text-align: left;
        padding-left: 1%;
    }

    tr td .html_logo {
        margin-right: -110%;
    }

    tr td .css_logo {
        margin-right: -38%;
    }

    tr td .js_logo {
        margin-left: -35%;
    }

    tr td .react_logo {
        margin-left: -110%;
    }

    .app_container_top .imgs {
        width: 80px;
        height: 80px;
    }

    .app_container_bottom {
        margin-top: 5%;
    } 

    .app_container_bottom .imgs {
        width: 80px;
        height: 80px;
    }

    div.domain {
        margin-top: 5%;
        font-size: 20px;
        color: #2EB4BA;
    }

    .etcInfo {
        text-align: center;
        font-size: 20px;
    }
} /* end of @media only screen and (min-width: 600px) */





@media only screen and (min-width: 768px){
    .about_container {
        max-height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: #E7FFFE;
    }

    .sqr {
        float: left;
        padding: 2% 3% 0 0;
        width: 10%;
    }

    .about_container p {
        font-size: 19px;
        padding: 10% 7% 2%;
        line-height: 1.7;
    }

    .about_container>p>b {
        font-size: 28px;
    }

    .tech_container {
        width: 100vw;
        margin-top: 3%;
    }

    .tech_title {
        text-align: center;
        font-size: 26px;
    }

    th {
        padding-bottom: 2%;
        padding-top: 0;
        font-size: 20px;
    }

    .app_container_bottom td:nth-child(1) {
        text-align: right;
        padding-right: 1%;
    }
    
    .app_container_bottom td:nth-child(2) {
        text-align: left;
        padding-left: 1%;
    }

    tr td .html_logo {
        margin-right: -110%;
    }

    tr td .css_logo {
        margin-right: -38%;
    }

    tr td .js_logo {
        margin-left: -35%;
    }

    tr td .react_logo {
        margin-left: -110%;
    }

    .app_container_top .imgs {
        width: 90px;
        height: 90px;
    }

    .app_container_bottom {
        margin-top: 5%;
    } 

    .app_container_bottom .imgs {
        width: 90px;
        height: 90px;
    }

    div.domain {
        margin-top: 5%;
        font-size: 20px;
        color: #2EB4BA;
    }

    .etcInfo {
        text-align: center;
        font-size: 20px;
    }

} /*end of @media only screen and (min-width: 768px)*/





@media only screen and (min-width: 992px){
    .about_container {
        max-height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: #E7FFFE;
    }

    .sqr {
        float: left;
        padding: 1% 3% 0 0;
        width: 9%;
    }

    .about_container p {
        font-size: 22px;
        padding: 8% 4% 2%;
        line-height: 1.7;
    }

    .about_container>p>b {
        font-size: 30px;
    }

    .tech_container {
        width: 100vw;
        margin-top: 0%;
    }

    .tech_title {
        text-align: center;
        font-size: 30px;
    }

    th {
        padding-bottom: 2%;
        padding-top: 1%;
        font-size: 22px;
    }

    tr td .html_logo {
        margin-right: -110%;
    }

    tr td .css_logo {
        margin-right: -40%;
    }

    tr td .js_logo {
        margin-left: -35%;
    }

    tr td .react_logo {
        margin-left: -110%;
    }

    .app_container_top .imgs {
        width: 90px;
        height: 90px;
    }

    .app_container_bottom {
        margin-top: 2%;
    } 

    .app_container_bottom .imgs {
        width: 90px;
        height: 90px;
    }

    div.domain {
        margin-top: 10%;
        font-size: 22px;
        color: #2EB4BA;
    }

    .etcInfo {
        text-align: center;
        font-size: 20px;
        margin-top: -5%;
    }
} /* end of @media only screen and (min-width: 992px) */





@media only screen and (min-width: 1220px){
    .about_container {
        max-height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: #E7FFFE;
    }

	.sqr {
        float: left;
        padding: 1.5% 3% 0 0;
        width: 8.1%;
    }

    .about_container p {
        font-size: 24px;
        padding: 6% 4% 1%;
        line-height: 1.7;
     }
    
    .about_container>p>b {
        font-size: 30px;
    }

    .tech_title {
        text-align: center;
        font-size: 30px;
    }

    .tech_container {
        width: 100vw;
        margin-top: 2%;
    }

    th {
        padding-bottom: 1%;
        padding-top: 0;
        font-size: 22px;
    }

    tr td .html_logo {
         margin-right: -160%;
    }

    tr td .css_logo {
        margin-right: -53%;
    }

    tr td .js_logo {
        margin-left: -53%;
    }

    tr td .react_logo {
        margin-left: -160%;
    }

    .app_container_top .imgs {
        width: 100px;
        height: 100px;
    }

    .app_container_bottom {
        margin-top: 2%;
    } 

    .app_container_bottom .imgs {
        width: 100px;
        height: 100px;
    }

    div.domain {
        margin-top: 1%;
        font-size: 24px;
        color: #2EB4BA;
    }

    .etcInfo {
        text-align: center;
        font-size: 24px;
        margin-top: 3%;
    }
} /* end of @media only screen and (min-width: 1220px) */

