* {
    box-sizing: border-box;
}

.about_us_container {
    /* background-color: white;
    color: #237E80; */
    background-color: #237E80;
    color: #F2F2F2;
    height: 100vh;
    width: 100vw;

}

.logo_img {
    width: 70%;
    display: block;
    padding-top: 1%;
    padding-bottom: 4%;
    margin: auto;
}

.member {
    text-align: center;
    overflow: auto;
    padding: 2%;
    text-shadow: 0 0;
    font-weight: normal;
}

.everybody {
    padding: 1% 5%;
}

.member>img {
    border: 1px #F2F2F2 solid;
    width: 22.5%;
    display: block;
    border-radius: 50%;
    
}

.frontend {
    border: 0.5px dotted rgb(197, 193, 193);
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 6px 6px #000000;
}

.backend {
    border: 0.5px dotted rgb(197, 193, 193);
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 4px 6px 6px #000000;
}

.img_left {
    float: left;
} 

.img_right {
    float: right;
} 