@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
    .about_us_container {
        background-color: #2A9597;
        color: #F2F2F2;
        min-height: 100vh;
        width: 100vw;
        font-family: 'Roboto';
    }

    .logo_img {
        width: 70%;
        display: block;
        padding-top: 2%;
        margin: auto;
    }

    .frontend {
        text-align: center;
        padding-bottom: 10px;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
    }

    .picture {
        border-radius: 6px;
        border: 1px #F2F2F2 solid;
        width: 55%;
    }

    .info {
        font-size: 0.7em;
        padding-bottom: 3%;
        color: #ABFFB8;
        text-align: center;
    }

    /* Top Row */

    .top_left {
        width: 45%;
        display: inline-block;
        /* margin-left: 5%; */
        text-align: center;
    }

    .top_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }

    .link_right>img {
        width: 25px;
        padding: 2%;
    }

    .link_left>img {
        width: 25px;
        padding: 2%;
    }

    /* Center */
    .member_center {
        width: 45%;
        margin-left: 29%;
        text-align: center;
        margin-top: -20px;
    }

    .link_center>img {
        width: 25px;
        padding: 2%;
    }

    .link_center>.material-icons {
        color: black;
    }


    /* Bottom Row */
    .backend {
        text-align: center;
        padding: 13px 0 10px 0;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
    }

    .member_bottom_left {
        width: 45%;
        display: inline-block;
        text-align: center;
    }

    .member_bottom_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }
}

@media only screen and (min-width: 768px){
    .about_us_container {
        background-color: #2A9597;
        color: #F2F2F2;
        min-height: 100vh;
        width: 100vw;
        font-family: 'Roboto';
    }
    
    .logo_img {
        width: 65%;
        display: block;
        padding-top: 0%;
        padding-bottom: 0%;
        margin: auto;
    }
    
    .frontend {
        text-align: center;
        padding-bottom: 10px;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
        font-size: 25px;
    }
    
    .picture {
        border-radius: 6px;
        border: 1px #F2F2F2 solid;
        width: 50%;
    }
    
    /* Top Row */
    .members_top {
        width: 100%;
    }
    
    .top_left {
        width: 45%;
        display: inline-block;
        /* margin-left: 5%; */
        text-align: center;
    }
    
    .top_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }
    
    .member_name_left {
        font-size: 17px;
    }
    
    .member_name_right {
        font-size: 17px;
    }
    
    .link_right>img {
        width: 25px;
        padding: 2%;
    }
    
    .link_left>img {
        width: 25px;
        padding: 2%;
    }
    
    /* Center */
    .member_center {
        width: 45%;
        margin-left: 27%;
        text-align: center;
        margin-top: -20px;
    }
    
    .member_name_center {
        font-size: 17px;
    }
    
    .link_center>img {
        width: 25px;
        padding: 2%;
    }
    
    
    /* Bottom Row */
    .backend {
        text-align: center;
        padding: 13px 0 10px 0;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
        font-size: 25px;
    }

    
    .member_bottom_left {
        width: 45%;
        display: inline-block;
        /* margin-left: 5%; */
        text-align: center;
    }
    
    .member_bottom_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }
}


@media only screen and (min-width: 1200px){
    .about_us_container {
        background-color: #2A9597;
        color: #F2F2F2;
        min-height: 100vh;
        width: 100vw;
        font-family: 'Roboto';
    }
    
    .logo_img {
        width: 25%;
        display: block;
        padding-top: 1%;
        padding-bottom: 0%;
        margin: auto;
    }
    
    .frontend {
        text-align: center;
        padding-bottom: 25px;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
        font-size: 25px;
    }
    
    .picture {
        border-radius: 6px;
        border: 1px #F2F2F2 solid;
        width: 17%;
    }
    
    /* Top Row */
    .members_top {
        width: 100%;
    }
    
    .top_left {
        width: 45%;
        display: inline-block;
        /* margin-left: 5%; */
        text-align: center;
    }
    
    .top_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }
    
    .member_name_left {
        font-size: 17px;
    }
    
    .member_name_right {
        font-size: 17px;
    }
    
    .link_right>img {
        width: 8%;
        padding: 2%;
    }
    
    .link_left>img {
        width: 8%;
        padding: 2%;
    }
    
    /* Center */
    .member_center {
        width: 45%;
        margin-left: 27%;
        text-align: center;
        margin-top: -204px;
    }
    
    .member_name_center {
        font-size: 17px;
    }
    
    .link_center>img {
        width: 8%;
        padding: 2%;
    }
    
    
    /* Bottom Row */
    .backend {
        text-align: center;
        padding: 50px 0 10px 0;
        font-weight: bolder;
        text-shadow: 4px 6px 6px #000000;
        font-size: 25px;
    }
    
    .member_bottom_left {
        width: 45%;
        display: inline-block;
        /* margin-left: 5%; */
        text-align: center;
    }
    
    .member_bottom_right {
        width: 45%;
        display: inline-block;
        margin-left: 10%;
        text-align: center;
    }
}