.accordion_container .collapsible_body.visible {
    border-top: 0.5px dotted silver;
}

.accordion_tag_buttons {
    display: inline-block;
    width: 55%;
    position: relative;
    left: 3%;
    margin-top: 2%;
    font-family: 'Roboto';
}

.accordion_buttons_container {
    padding-bottom: 12%;
}

@media only screen and (min-width: 600px){

    .accordion_container {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .accordion_container .collapsible_header {
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        padding: 15px;
        position: relative;
    }
    
    .accordion_container .collapsible_header > i {
        position: absolute;
        right: 20px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_header .open {
        transform: rotate(180deg);
    }
    
    .accordion_container.easy li:nth-child(odd) .collapsible_header{
        background-color: #C5CAC9
    }
    
    .accordion_container.easy li:nth-child(even) .collapsible_header {
        background-color: #96a0a9
    }
    
    .accordion_container .collapsible_body {
        max-height: 0;
        overflow: hidden;
        padding: 0 10px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_body.visible {
        max-height: 600px;
    }
    
    .material_icons{
        width: 100vw;
        position: relative;
        bottom: -2vh;
    }
    }

@media only screen and (min-width: 768px){
    .accordion_container {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .accordion_container .collapsible_header {
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        padding: 15px;
        position: relative;
    }
    
    .accordion_container .collapsible_header > i {
        position: absolute;
        right: 20px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_header .open {
        transform: rotate(180deg);
    }
    
    .accordion_container.easy li:nth-child(odd) .collapsible_header{
        background-color: #C5CAC9
    }
    
    .accordion_container.easy li:nth-child(even) .collapsible_header {
        background-color: #96a0a9
    }
    
    .accordion_container .collapsible_body {
        max-height: 0;
        overflow: hidden;
        padding: 0 25px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_body.visible {
        max-height: 600px;
    }
    
    .material_icons{
        position: relative;
        font-size: 4em;
        top: -49%;
        width:100%;
        right: 0;
    }
}

@media only screen and (min-width: 1220px){
    .accordion_container {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .accordion_container .collapsible_header {
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        padding: 15px;
        position: relative;
    }
    
    .accordion_container .collapsible_header > i {
        position: absolute;
        right: 20px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_header .open {
        transform: rotate(180deg);
    }
    
    .accordion_container.easy li:nth-child(odd) .collapsible_header{
        background-color: #C5CAC9
    }
    
    .accordion_container.easy li:nth-child(even) .collapsible_header {
        background-color: #96a0a9
    }
    
    .accordion_container .collapsible_body {
        max-height: 0;
        overflow: hidden;
        padding: 0 25px;
        transition: 400ms linear;
    }
    
    .accordion_container .collapsible_body.visible {
        max-height: 600px;
    }
    
    .material_icons{
        position: relative;
        font-size:6em;
        top: -6vh;
        width: 100%;
        right: 0;
        bottom: -4.8vh;
    }
}

@media only screen and (max-width: 600px){
    .accordion_container {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid black;
    }

    .accordion_container .collapsible_header {
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        padding: 15px;
        position: relative;
    }

    .accordion_container .collapsible_header > i {
        position: absolute;
        right: 20px;
        transition: 400ms linear;
    }

    .accordion_container .collapsible_header .open {
        transform: rotate(180deg);
    }

    .accordion_container.easy li:nth-child(odd) .collapsible_header{
        background-color: #C5CAC9
    }

    .accordion_container.easy li:nth-child(even) .collapsible_header {
        background-color: #96a0a9
    }

    .accordion_container .collapsible_body {
        max-height: 0;
        overflow: hidden;
        padding: 0 10px;
        transition: 400ms linear;
    }

    .accordion_container .collapsible_body.visible {
        max-height: 600px;
    }

    .material_icons{
        position: relative;
        bottom: 1vh;
        font-size: 32px;
    }

    .noTags{
        display: inline-block;
        color: #8c8c8c;
        padding-left: 4%;
        font-size: 1.0em;
    }
}

