/* @font-face {
    font-family: 'Original Surfer';
    src: url(../../src/assets/fonts/OriginalSurfer-Regular.ttf);
} */

@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main_container {
        width: 100vw;
        margin: 0;
        font-size: 1.0em;
        display: block;
        background-color: white;
        top: 60px;
        position: relative;
        font-family: 'Roboto';
        padding-bottom: 155px;
        overflow: auto;
        color: #15191b;
        z-index: 0;
    }
    
    .form_container {
        position: relative;
        top: 80px;
    }

    .content_container {
        background-color: white;
        width: 100%;
        /* border-bottom: 0.5px solid #116466; */
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        /* text-align: center; */
        line-height: 2.1em;
    }

    
    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 2%;
    }
        
    option {
        font-size: 0.7em;
        background-color: white;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA ;
        border-top-color: none;
        font-size: 1.05em;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.8em;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.9em;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }


    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 3%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        padding-right: 20px;
        display: inline-block;
        word-break: break-word;
        vertical-align: top;
    }

    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    select {
        background-color: white;
        font-size: 1em;
        width: 50%;
        margin-top: 3%;
    }

    select:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA;
        border-top-color: none;
        font-size: 1.0em;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.6em !important;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.7em !important;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }

    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 3%;
    }

    .merchant, .note {
        width: 50%;
    }

    .date {
        width: 50%;
    }

    .amount {
        width: 46%;
    }

    .cancel_btn {
        margin-left: 3%;
        background-color: #f2f2f2;
        color: #2C3531;
        padding: 1.5%;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-family: 'roboto';
        cursor: pointer;
    }

    .done_btn {
        float: right;
        margin-right: 3%;
        background-color: #A3FFF7;
        color: #2C3531;
        padding: 1.5%;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-family: 'roboto';
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 50px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 1.2% 0;
        font-weight: bold;
        margin-bottom: 5%;
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        position: relative;
        top: -30px;
    }
} /* end of @media only screen and (min-width: 320px) and (max-width: 480px)   */






@media only screen and (min-width: 480px) and (max-width: 600px){
    .main_container {
        width: 100vw;
        margin: 0;
        font-size: 1.0em;
        display: block;
        background-color: white;
        top: 60px;
        position: relative;
        padding-bottom: 155px;
        overflow: auto;
        color: #15191b;
        z-index: 0;
    }
    
    .form_container {
        position: relative;
        top: 80px;
    }

    .content_container {
        background-color: white;
        width: 100%;
        /* border-bottom: 0.5px solid #116466; */
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        /* text-align: center; */
        line-height: 2.1em;
    }
        
    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 1%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        padding-right: 40px;
        display: inline-block;
        word-break: break-word;
        vertical-align: top;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.8em !important;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.9em !important;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }


    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 3%;
    }


    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    select {
        background-color: white;
        font-size: 1em;
        width: 50%;
        margin-top: 1%;
    }

    select:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA;
        border-top-color: none;
        font-size: 1.0em;
    }

    .merchant, .note {
        width: 50%;
    }

    .date {
        width: 50%;
    }

    .amount {
        width: 46%;
    }

    .cancel_btn {
        margin-left: 3%;
        background-color: #f2f2f2;
        color: #2C3531;
        padding: 1.0%;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-size: 1em;
        cursor: pointer;
    }

    .done_btn {
        float: right;
        margin-right: 3%;
        background-color: #A3FFF7;
        color: #2C3531;
        padding: 1.0%;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-size: 1em;
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 50px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 5px 0;
        font-weight: bold;
        /* margin-bottom: 5%; */
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        position: relative;
        top: -30px;
    }

} /* end of @media only screen and (min-width: 480px) and(max-width: 600px){ */






@media only screen and (min-width: 600px) and (max-width: 768px) {
    .main_container {
        min-height: 0;
        width: 100vw;
        margin: 0;
        display: block;
        background-color: white;
        position: relative;
        margin: 90px 0;
        font-size: 1.2em;
        z-index: 0;
    } 

    .content_container {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 3;
        /* padding-left: 125px; */
    }

    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 3%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        display: inline-block;
        /* vertical-align: top; */
        padding-right: 7%;
    }

    .tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        word-break: break-word;
    }

    select {
        background-color: rgba(239, 241, 241, 0.904);
        font-size: 0.9em;
        /* margin-top: 1%; */
    }
 
    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.6em;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.6em;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }


    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
        font-size: 0.7em;
    }

    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA;
        border-top-color: none;
        font-size: 0.95em;
    }

    .note {
        width: 300px;
    }

    .merchant {
        width: 275px;
    }

    .date {
        width: 235px;
    }

    .amount {
        width: 165px;
    }

    .tag_buttons {
        display: inline-block;
        width: 40%;
        position: relative;
        left: 37%;
    }

    .cancel_btn {
        margin-left: 5%;
        background-color: #C9CED2;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .done_btn {
        float: right;
        margin-right: 5%;
        background-color: #A3FFF7;;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 55px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 0.6% 0;
        font-weight: bold;
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        width: 95%;
        position: relative;
        margin: 0px auto;
        margin-top: 110px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 2%;
    }

} /* end of  @media only screen and (min-width: 600px) and (max-width: 768px)  */




@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main_container {
        height: 0;
        width: 100vw;
        margin: 0;
        display: block;
        background-color: white;
        position: relative;
        margin: 90px 0;
        font-size: 1.2em;
        z-index: 0;
    }

    .content_container {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 2;
        /* padding-left: 125px; */
    }

    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 1%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        display: inline-block;
        /* vertical-align: top; */
        padding-right: 7%;
    }

    .tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        word-break: break-word;
    }

    select {
        background-color: rgba(239, 241, 241, 0.904);
        font-size: 0.9em;
        /* margin-top: 1%; */
    }
    
    option {
        font-size: 0.7em;
        background-color: white;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.7em !important;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.7em !important;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }


    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
        font-size: 0.7em;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 3%;
    }


    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA;
        border-top-color: none;
        font-size: 0.95em;
    }

    .note {
        width: 300px;
    }

    .merchant {
        width: 275px;
    }

    .date {
        width: 235px;
    }

    .amount {
        width: 165px;
    }

    .tag_buttons {
        display: inline-block;
        width: 40%;
        position: relative;
        left: 37%;
    }

    .cancel_btn {
        margin-left: 10%;
        background-color: #C9CED2;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .done_btn {
        float: right;
        margin-right: 10%;
        background-color: #A3FFF7;;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 65px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 0.6% 0;
        font-weight: bold;
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        width: 80%;
        position: relative;
        margin: 0px auto;
        margin-top: 135px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 2%;
    }

} /* end of  @media only screen and (min-width: 768px) and (max-width: 992px)  */





@media only screen and (min-width: 992px) and (max-width: 1023px) {
    .main_container {
        width: 100vw;
        margin: 0;
        display: block;
        background-color: white;
        position: relative;
        margin: 90px 0;
        font-size: 1.2em;
        z-index: 0;
    }

    .content_container {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.01em;
        display: block;
        box-sizing: border-box;
        line-height: 1.6;
        /* padding-left: 125px; */
    }
       
    option {
        font-size: 0.7em;
        background-color: white;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.8em;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.9em;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }


    .tag_buttons {
        display: inline-block;
        width: 55%;
        position: relative;
        left: 37%;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
        font-size: 0.7em;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 3%;
    }

    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 0%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        display: inline-block;
        /* vertical-align: top; */
        padding-right: 7%;
    }

    .tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        word-break: break-word;
    }

    select {
        background-color: rgba(239, 241, 241, 0.904);
        font-size: 0.9em;
        /* margin-top: 1%; */
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA;
        border-top-color: none;
        font-size: 0.95em;
    }

    .note {
        width: 300px;
    }

    .merchant {
        width: 275px;
    }

    .date {
        width: 235px;
    }

    .amount {
        width: 165px;
    }

    .tag_buttons {
        display: inline-block;
        width: 40%;
        position: relative;
        left: 37%;
    }

    .cancel_btn {
        margin-left: 16%;
        background-color: #C9CED2;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .done_btn {
        float: right;
        margin-right: 16%;
        background-color: #A3FFF7;;
        color: #2C3531;
        padding: 0.5%;
        font-size: 0.95em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 65px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 0.6% 0;
        font-weight: bold;
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        width: 80%;
        position: relative;
        margin: 0px auto;
        margin-top: 150px;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 2%;
    }

} /* end of  @media only screen and (min-width: 992px) and (max-width: 1024px)  */




@media only screen  and (min-width: 1024px){
    .main_container {
        width: 100vw;
        margin: 0;
        display: block;
        background-color: white;
        position: relative;
        margin: 90px 0;
        font-size: 1.2em;
        z-index: 0;
    }

    .plus_tag_button {
        background-color: white;
        border: 0.5px solid #2EB4BA;
        color: rgba(44, 53, 49, 0.747);
        width: 40%;
        vertical-align: middle;
        font-family: 'Roboto';
        text-align: left;
        padding-left: 2%;
    }

    .drop_down_arrow_icon {
        margin-left: 2%;
        line-height: 1.1;
        font-size: 1.8em;
        color: rgba(31, 34, 32, 0.842);
    }

    .add_tag_icon {
        font-size: 1.9em;
        vertical-align: top;
        margin-left: 10%;
        color: rgba(31, 34, 32, 0.842);
        border-radius: 5px;
    }

    input:hover {
        border-bottom: 2.5px solid #2EB4BA;
    }

    input:focus {
        border: 1px solid #2EB4BA;  
        background-color: white;
    }

    .custom_tag {
        background-color: #e6fff2;
        border: 1px solid #2EB4BA;
        color: #2C3531;
        padding: 2% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2%;
        cursor: pointer;
        border-radius: 20px;
        font-size: 0.9em;
    }
    
    .tag_label {
        height: 30%;;
        text-align: center;
        display: block;
        word-break: break-word;
    }

    .content_container {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 1.5;
        padding-left: 125px;
    } 

    .content_container:nth-child(6) {
        background-color: white;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        display: block;
        box-sizing: border-box;
        line-height: 0.15em;
        margin-top: 1%;
    }

    .content_container:nth-child(6)>.input_label {
        vertical-align: top;
        position: relative;
        padding-top: 1%;
    }

    .input_label {
        width: 40%;
        height: 30%;;
        text-align: right;
        display: inline-block;
        vertical-align: top;
        padding-right: 10%;
    }

    .tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        word-break: break-word;
    }

    .date, .merchant, .amount, .note {
        background-color: white;
        box-shadow: none;
        border-style: none;
        border-bottom: 1px solid #2EB4BA ;
        border-top-color: none;
        font-size: 1em;
    }

    select {
        background-color: rgba(239, 241, 241, 0.904);
        font-size: 0.9em;
        margin-top: 1%;
    }

    .note {
        width: 300px;
    }

    .merchant {
        width: 275px;
    }

    .date {
        width: 235px;
    }

    .amount {
        width: 165px;
    }

    .tag_buttons {
        display: inline-block;
        width: 45%;
        position: relative;
        left: 37%;
        font-size: 0.9em;
    }

    .cancel_btn {
        margin-left: 20%;
        background-color: #C9CED2;
        color: #2C3531;
        padding: 0.5% 0.5%;
        font-size: 1.005em;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-size: 1em;
        width: 90px;
        cursor: pointer;
    }

    .done_btn {
        background-color: #A3FFF7;;
        color: #2C3531;
        padding: 0.5%;
        border-radius: 6px;
        border: 1.0px solid #2C3531;
        transition-duration: 0.4s;
        font-size: 1em;
        width: 90px;
        float: right;
        margin-right: 20%;
        cursor: pointer;
    }

    .btn_container {
        position: fixed;
        top: 65px;
        z-index: 1;
        width: 100%;
        background-color: #f1f2f4;
        padding: 0.6% 0;
        font-weight: bold;
        border-bottom: rgba(128, 128, 128, 0.753) 0.5px solid;
    }

    .add_new_form_input_container {
        width: 85%;
        position: relative;
        margin: 0px auto;
        margin-top: 154px;
    }

} /* end of @media only screen and (min-width: 1024px) */