@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}
/* 
.sidebar_container {
    /* width: 30vw;
    height: 50vh; */
    /* background-color: #C9CED2;
    font-family: 'Roboto';
    background-color: pink;
    color: #283239;
    top: 0;
    right: 0;
} */

.menus>link>p:hover {
    text-decoration: underline;
}

.menus>link>p:visited {
    text-decoration: none;
}
