@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

.menus>a>p:hover {
    text-decoration: underline;
}

.menus>a>p:visited {
    text-decoration: none;
}
