@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

.headContainer {
    background-color: #237E80;
    color: #F2F2F2;
    font-family: 'Roboto Bold';
    height: 80px;
    font-size: 2em;
    padding-left: 10%;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dots {
    position: absolute;
    right: 6%;
    top: 15%;
}


.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
