@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

    
a:visited {
    color: white;
}



@media only screen and (max-width: 600px){
    .headContainer {
        background-color: #1997A2;
        color: #F2F2F2;
        height: 50px;
        font-size: 1.5em;
        padding: 1.0% 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
        font-family: 'roboto bold';
    }

    .dots {
        position: absolute;
        right: 5%;
        top: 11%;
        height: 80%;
        cursor: pointer;
    }

    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    .sidebar_container {
        height: 300px;
        background-color: #1997A2;
        font-family: 'Roboto Bold';
        position: fixed !important;
        padding-left: 2%;
        font-size: 17px;
        right: 5%;
        top: 50px !important;
        color: white;
        /* z-index: 2; */
    }

    .menus {
        top: 80px;
    }
} /*end of @media only screen and (min-width: 600px)*/






@media only screen and (min-width: 600px) and (max-width: 768px) {
    .headContainer {
        background-color: #1997A2;
        color: #F2F2F2;
        height: 55px;
        font-size: 1.8em;
        padding: 0.5% 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
        font-family: 'roboto bold';
    }

    .dots {
        position: absolute;
        right: 5%;
        top: 11%;
        height: 80%;
        cursor: pointer;
    }

    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    .sidebar_container {
        width: 175px;
        height: 275px;
        background-color: #1997A2;
        font-family: 'Roboto Bold';
        position: fixed !important;
        padding-left: 2%;
        font-size: 17px;
        right: 5%;
        top: 55px !important;
        color: white;
    }

    .menus {
        top: 80px;
    }
} /*end of @media only screen and (min-width: 768px)*/





@media only screen and (min-width: 768px) and (max-width: 992px) {
    .headContainer {
        background-color: #1997A2;
        color: #F2F2F2;
        height: 65px;
        font-size: 2.0em;
        padding: 0.5% 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
        position: fixed;
        font-family: 'roboto bold';
    }

    .dots {
        position: absolute;
        right: 5%;
        top: 8%;
        height: 80%;
        cursor: pointer;
    }

    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    .sidebar_container {
        width: 200px;
        height: 300px;
        background-color: #1997A2;
        font-family: 'Roboto Bold';
        position: fixed !important;
        padding-left: 2%;
        font-size: 17px;
        right: 5%;
        top: 65px !important;
        color: white;
    }

    .menus {
        top: 80px;
    }
} /*end of @media only screen and (min-width: 1220px)*/





@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .headContainer {
        background-color: #1997A2;
        color: #F2F2F2;
        height: 65px;
        font-size: 2.0em;
        padding: 0.5% 0;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .dots {
        position: absolute;
        right: 5%;
        top: 11%;
        height: 80%;
        cursor: pointer;
    }

    .header{
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    .sidebar_container {
        width: 175px;
        height: 275px;
        background-color: #1997A2;
        font-family: 'Roboto Bold';
        position: fixed !important;
        padding-left: 2%;
        font-size: 17px;
        right: 5%;
        top: 65px !important;
        color: white;
    }

    .menus {
        top: 80px;
    }
}






@media only screen and (min-width: 1024px){
    .headContainer{
        background-color: #1997A2;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        font-size: 2.0em;
        text-align: center;
        width: 100%;
        height: 65px;
        padding-top: 0.3%;
    }

    .dots {
        /* display: none; */
        position: absolute;
        right: 5%;
        top: 11%;
        height: 80%;
        cursor: pointer;
    }
    
    .header{
        position: fixed;
        top: 0;
        z-index: 1;

    }

    .sidebar_container {
        width: 200px;
        height: 365px;
        background-color: #1997A2; 
        font-family: 'Roboto Bold';
        position: fixed !important;
        padding-left: 1%;
        font-size: 17px;
        right: 5%;
        top: 65px !important;
        color: white;
    }
    
    .menus {
        top: 80px;
    }
} /*end of @media only screen and (max-width: 600px)*/






