@keyframes login_squirrel {
    0%   {left:250px; top:50px;}
    22%  { left:230px; top:20px;}
    43%  { left:210px; top:50px;}
    63%  { left:180px; top:20px;}
    83%  { left:150px; top:50px;}
    100% { left:130px; top:35px;}
}

.login_logo_sqr {
    width: 40%;
    display: block;
    position: relative;
    top: 45px;
    left: 32%;
    padding-bottom: 3%;
    animation-name: login_squirrel;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.login_logo_txt {
    width: 83%;
    display: block;
    position: relative;
    top: 32px;
    left: 9%;
}

.login_container {
    position: relative;
    top: 35px;
}

@media only screen and (max-width: 600px) {
/* START @media only screen and (max-width: 600px) */
    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #1997A2;
    }

    .login_container {
        text-align: center;
    }

    .login_area {
        display: inline-block;
        padding-top: 4%;
    }

    img.login_logo {
        width: 100%;
        padding: 3% 1%;
    }

    .username {
        background-color: #DEF2F1;
        border: 1px solid #def2f1;
        font-size: 20px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
    }

    .password {
        background-color: #DEF2F1; 
        border: 1px solid #def2f1;
        font-size: 20px;
        padding: 1%;
        text-align: center;
        margin-bottom: 5%;
    }

    .forgot_password {
        color: #98FFA8;
    }

    .login_btn {
        background-color: #15191b;
        border: 1px solid #15191b;
        color: white;
        font-size: 25px;
        margin: 5%;
        padding:2%;
        display: block;
        margin-left: 35%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .sign_up_button {
        padding-top: 2%;
        color: #15191b;
        font-size: 1.2em;
    }

    a:visited {
        color: #98FFA8;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    /* button {
        display: block;
        margin-left: 35%;
    } */
}



@media only screen and (min-width: 768px) {
    /* START @media only screen and (min-width: 768px) */
    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #2A9597;
    }

    .login_area {
        display: inline-block;
    }

    img.login_logo {
        width: 90%;
        padding-left: 10%;
    }

    .username {
        background-color: #DEF2F1;
        border: 1px solid #def2f1;
        font-size: 35px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
    }

    .password {
        background-color: #DEF2F1; 
        border: 1px solid #def2f1;
        font-size: 35px;
        padding: 1%;
        text-align: center;
    }

    .login_btn {
        background-color: #15191b;
        border: 1px solid #15191b;
        color: white;
        font-size: 35px;
        padding: 1%;
        display: block;
        margin-left: 41%;
        margin-top: 3%;
    }

    .forgot_password {
        padding-bottom: 4%;
        padding-top: 3%;
    }

    .sign_up_container {
        color: white;
        font-size: 25px;
    }

    p.error_message {
        font-size: 1.5em;
    }

    label {
        margin-bottom: 5%;
    }
}


@media only screen and (min-width: 992px){
    /* START @media only screen and (min-width: 992px) */
    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #2A9597;
    }

    .login_container {
        display: inline-block;
        padding-left: 13%;
    }

    .username {
        background-color: #DEF2F1;
        border: 1px solid #def2f1;
        font-size: 35px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
        width: 70%;
    }

    .password {
        background-color: #DEF2F1; 
        border: 1px solid #def2f1;
        font-size: 35px;
        padding: 1%;
        text-align: center;
        width: 70%;
    }

    .login_btn {
        background-color: #15191b;
        border: 1px solid #15191b;
        color: white;
        font-size: 35px;
        padding: 15px;
        margin-top: 6%;
    }

    .sign_up_container {
        color: white;
        font-size: 32px;
    }

    label {
        margin-bottom: 5%;
    }

    p.error_message {
        font-size: 2.5em;
    }
}


@media only screen and (min-width: 1220px) {
    /* START @media only screen and (max-width: 600px) */
        .login_page_container {
            height: 100vh;
            width: 100vw;
            background-color: #2A9597;
        }

        .login_container {
            display: inline-block;
            position: relative;
            left: 22%;
            top: 4vh;
        }
    
        .login_area {
            display: inline-block;
            padding-top: 4%;
        }
    
        img.login_logo {
            width: 30%;
            display: block;
            position: relative;
            left: 33%;
        }
    
        .username {
            background-color: #DEF2F1;
            border: 1px solid #def2f1;
            font-size: 28px;
            margin-bottom: 5%;
            padding: 1%;
            text-align: center;
            width: 70%;
        }
    
        .password {
            background-color: #DEF2F1;
            border: 1px solid #def2f1;
            font-size: 28px;
            padding: 1%;
            text-align: center;
            width: 70%;
        }
    
        .forgot_password {
            color: #98FFA8;
        }
    
        .login_btn {
            background-color: #15191b;
            border: 1px solid #15191b;
            color: white;
            padding: 0;
            font-size: 25px;
            display: block;
            margin-left: 41%;
        }
    
        .forgot_password {
            padding-bottom: 5%;
            padding-top: 5%;
        }
    
        .sign_up_container {
            color: white;
            font-size: 32px;
            position: relative;
            left: 0;
        }
    
        p.error_message {
            font-size: 1em;
        }
    
        label {
            margin-bottom: 5%;
        }
    
        /* button {
            display: block;
            margin-left: 35%;
        } */
    }