@keyframes login_squirrel {
    0%   {left:250px; top:50px;}
    22%  { left:230px; top:20px;}
    43%  { left:210px; top:50px;}
    63%  { left:180px; top:20px;}
    83%  { left:150px; top:50px;}
    100% { left:130px; top:35px;}
}

.login_logo_sqr {
    width: 40%;
    display: block;
    position: relative;
    top: 45px;
    left: 32%;
    padding-bottom: 3%;
    animation-name: login_squirrel;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.login_logo_txt {
    width: 83%;
    display: block;
    position: relative;
    top: 32px;
    left: 9%;
}

.login_container {
    position: relative;
    top: 35px;
}

.login_page_container {
    height: 100vh;
    width: 100vw;
    background-color: #1997A2;
}

.username {
    background-color: #DEF2F1;
    border: 1px solid #def2f1;
    font-size: 20px;
    margin-bottom: 5%;
    padding: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.password {
    background-color: #DEF2F1; 
    border: 1px solid #def2f1;
    font-size: 20px;
    padding: 1%;
    text-align: center;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.login_btn {
    background-color: #2E3B3B;
    border: 1px solid #15191b;
    color: white;
    font-size: 25px;
    margin-top: 5%;
    padding:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56%;
}

.login_container {
    text-align: center;
}

@media only screen and (max-width: 600px) {
/* START @media only screen and (max-width: 600px) */
      .login_container {
        text-align: center;
    }

    .login_area {
        display: grid;
        padding-top: 8%;
    }

    img.login_logo {
        width: 100%;
        padding: 3% 1%;
    }

    .username {
        background-color: #DEF2F1;
        border: 1px solid #def2f1;
        font-size: 22px;
        margin-bottom: 5%;
        padding: 2% 0;
        text-align: center;
    }

    .password {
        background-color: #DEF2F1; 
        border: 1px solid #def2f1;
        font-size: 22px;
        padding: 2% 0;
        text-align: center;
        margin-bottom: 5%;
    }


    .forgot_password {
        color: #98FFA8;
    }


    .login_btn {
        background-color: #2E3B3B;
        border: 1px solid #15191b;
        color: white;
        font-size: 25px;
        margin-top: 0;
        padding:2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .signup_area {
        padding-top: 0;
        color: #15191b;
        font-size: 1.2em;
    }

    .signup_link, .signup_link:visited {
        color: #98FFA8;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    /* button {
        display: block;
        margin-left: 35%;
    } */
}




@media only screen and (min-width: 600px) {
    @keyframes login_squirrel {
        0%   { left:68%; top:80px;}
        25%  { left:66%; top:50px;}
        50%  { left:63%; top:78px;}
        75%  { left:58%; top:2px;}
        100% { left:49%; top:25px;}
    }
    
    .login_logo_sqr {
        width: 13%;
        display: block;
        position: relative;
        top: 25px;
        left: 49%;
        padding-bottom: 3%;
        animation-name: login_squirrel;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #1997A2;
    }

    .login_logo_txt{
        width: 41%;
        left: 35%;
        top: -3px;
    }

    .login_container {
        display: inline-block;
        position: relative;
        top: -30px;
        padding-left: 16%;
    }

    .login_area {
        display: inline-block;
        padding-top: 7%;
    }

    img.login_logo {
        width: 30%;
        display: block;
        position: relative;
        left: 33%;
    }

    .username {
        border: 1px solid #def2f1;
        font-size: 22px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .password {
        border: 1px solid #def2f1;
        font-size: 22px;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .forgot_password {
        color: #98FFA8;
    }

    .login_btn {
        background-color: #2E3B3B;
        border: 1px solid #15191b;
        color: white;
        padding: 1.5%;
        font-size: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13%;
        width: 100%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .sign_up_container {
        color: white;
        font-size: 32px;
        position: relative;
        left: 0;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    .signup_area {
        padding-top: 17%;
        font-size: 1.1em;
    }
}



@media only screen and (min-width: 768px) {
    /* START @media only screen and (min-width: 768px) */
    @keyframes login_squirrel {
        0%   { left:68%; top:80px;}
        25%  { left:66%; top:50px;}
        50%  { left:63%; top:78px;}
        75%  { left:56%; top:2px;}
        100% { left:49%; top:25px;}
    }
    
    .login_logo_sqr {
        width: 12%;
        display: block;
        position: relative;
        top: 25px;
        left: 49%;
        padding-bottom: 3%;
        animation-name: login_squirrel;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #1997A2;
    }

    .login_logo_txt{
        width: 36%;
        left: 35%;
        top: -3px;
    }

    .login_container {
        display: inline-block;
        position: relative;
        left: 22%;
        top: -30px;
        padding-left: 16%;
    }

    .login_area {
        display: inline-block;
        padding-top: 7%;
    }

    img.login_logo {
        width: 30%;
        display: block;
        position: relative;
        left: 33%;
    }

    .username {
        border: 1px solid #def2f1;
        font-size: 22px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .password {
        border: 1px solid #def2f1;
        font-size: 22px;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .forgot_password {
        color: #98FFA8;
    }

    .login_btn {
        background-color: #2E3B3B;
        border: 1px solid #15191b;
        color: white;
        padding: 1.5%;
        font-size: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13%;
        width: 100%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .sign_up_container {
        color: white;
        font-size: 32px;
        position: relative;
        left: 0;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    .signup_area {
        padding-top: 17%;
        font-size: 1.1em;
    }
}


@media only screen and (min-width: 992px){
    /* START @media only screen and (min-width: 992px) */
    @keyframes login_squirrel {
        0%   { left:62%; top:80px;}
        25%  { left:60%; top:50px;}
        50%  { left:57%; top:78px;}
        75%  { left:52%; top:2px;}
        100% { left:46%; top:25px;}
    }
    
    .login_logo_sqr {
        width: 11%;
        display: block;
        position: relative;
        top: 25px;
        left: 46%;
        padding-bottom: 3%;
        animation-name: login_squirrel;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #1997A2;
    }

    .login_logo_txt{
        width: 28%;
        left: 35%;
        top: -15px;
    }

    .login_container {
        display: inline-block;
        position: relative;
        left: 22%;
        top: -30px;
        padding-left: 16%;
    }

    .login_area {
        display: inline-block;
        padding-top: 7%;
    }

    img.login_logo {
        width: 30%;
        display: block;
        position: relative;
        left: 33%;
    }

    .username {
        border: 1px solid #def2f1;
        font-size: 22px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .password {
        border: 1px solid #def2f1;
        font-size: 22px;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .forgot_password {
        color: #98FFA8;
    }

    .login_btn {
        background-color: #2E3B3B;
        border: 1px solid #15191b;
        color: white;
        padding: 1.5%;
        font-size: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 100%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .sign_up_container {
        color: white;
        font-size: 32px;
        position: relative;
        left: 0;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    .signup_area {
        padding-top: 17%;
        font-size: 1.1em;
    }

}





@media only screen and (min-width: 1200px) {
    /* START @media only screen and (max-width: 600px) */
    @keyframes login_squirrel {
        0%   { left:62%; top:80px;}
        25%  { left:60%; top:50px;}
        50%  { left:57%; top:78px;}
        75%  { left:52%; top:2px;}
        100% { left:46%; top:25px;}
    }
    
    .login_logo_sqr {
        width: 9%;
        display: block;
        position: relative;
        top: 25px;
        left: 46%;
        padding-bottom: 3%;
        animation-name: login_squirrel;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .login_page_container {
        height: 100vh;
        width: 100vw;
        background-color: #1997A2;
    }

    .login_logo_txt{
        width: 26%;
        left: 36%;
        top: -15px;
    }

    .login_container {
        display: inline-block;
        position: relative;
        left: 22%;
        top: -30px;
        padding-left: 16%;
    }

    .login_area {
        display: inline-block;
        padding-top: 7%;
    }

    img.login_logo {
        width: 30%;
        display: block;
        position: relative;
        left: 33%;
    }

    .username {
        border: 1px solid #def2f1;
        font-size: 22px;
        margin-bottom: 5%;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .password {
        border: 1px solid #def2f1;
        font-size: 22px;
        padding: 1%;
        text-align: center;
        width: 100%;
    }

    .forgot_password {
        color: #98FFA8;
    }

    .login_btn {
        background-color: #2E3B3B;
        border: 1px solid #15191b;
        color: white;
        padding: 1.5%;
        font-size: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 100%;
    }

    .forgot_password {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .sign_up_container {
        color: white;
        font-size: 32px;
        position: relative;
        left: 0;
    }

    p.error_message {
        font-size: 1em;
    }

    label {
        margin-bottom: 5%;
    }

    .signup_area {
        padding-top: 17%;
        font-size: 1.1em;
    }

    /* button {
        display: block;
        margin-left: 35%;
    } */
}