
.custom_tag_icon {
    color: rgb(241, 136, 16);
}
    
.each_tag_container {
    border-bottom: solid 0.5px silver;
}

.checkbox_label {
    font-size: 1.2em;
    position: relative;
    left: 10%;
    line-height: 2em;
}

.checkbox_label input:checked  ~ .checkmark {
    background-color: teal;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 150px;
    height: 25px;
    width: 25px;
    background-color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rounded_two {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: teal;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    label {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 4px;
      left: 4px;
      cursor: pointer;
      background: linear-gradient(top, #222 0%, #45484d 100%);
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 5px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      } 
    }   
  }

@media only screen and (min-width: 600px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 3%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .tag_icon {
        color: rgba(234, 239, 243, 0.925);
        width: 20px;
        height: 20px;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 2% 1% 4%;
    }

    .new_tag_input {
        width: 40%;
        font-size: 1.2em;
        display: inline-block;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 50vh;
        overflow: scroll;
    }

    .new_tag {
        padding-bottom: 1.5%;
    }
}



@media only screen and (min-width: 768px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
        position: relative;
        left: 9%;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 80%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
        left: 9%;
        position: relative;
        top: 1vh;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 3%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .tag_icon {
        color: rgba(234, 239, 243, 0.925);
        width: 20px;
        height: 20px;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 2% 1% 4%;
    }

    .new_tag_input {
        width: 40%;
        font-size: 1.2em;
        display: inline-block;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
        font-size: 1.3em;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 45vh;
        overflow: scroll;
    }

    .new_tag {
        padding-bottom: 1.5%;
    }
}

@media only screen and (min-width: 1220px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
        position: relative;
        left: 9%;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 80%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
        left: 9%;
        position: relative;
        top: 1vh;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 40%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 3%;
        position: relative;
        top: -25px;
        left: 430px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .tag_icon {
        color: rgba(234, 239, 243, 0.925);
        width: 20px;
        height: 20px;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 2% 1% 4%;
    }

    .new_tag_input {
        width: 35%;
        font-size: 1.2em;
        display: inline-block;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 32%;
        font-size: 1.3em;
    }

    .surebtn{
        position: relative;
        left: 42%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 45vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .new_tag {
        padding-left: 13%;
    }
}

@media only screen and (max-width: 600px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 19%;
        font-size: 1.3em;
        padding: 1%;
        margin-left: 5%;
    }

    .cancel{
        background-color: red;
    }

    .update-color{
        background-color: green;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 3%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .tag_icon {
        color: rgba(234, 239, 243, 0.925);
        width: 20px;
        height: 20px;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 2% 1% 4%;
    }

    .new_tag_input {
        width: 40%;
        font-size: 1.2em;
        display: inline-block;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 60vh;
        overflow: scroll;
    }

    .new_tag {
        padding-bottom: 1.5%;
    }
}

