.tag_icon {
    color: white;
    width: 20px;
    height: 20px;
}

/* add new page tag modal css - input checkbox */
.custom_tag_icon {
    color: rgb(241, 136, 16);
}
    
.each_tag_container {
    border-bottom: solid 0.5px silver;
}

.checkbox_label {
    font-size: 1.2em;
    position: relative;
    left: 10%;
    line-height: 2em;
}

.checkbox_label input:checked  ~ .checkmark {
    background-color: teal;
}

.checkmark {
    position: absolute;
    height: 27px;
    width: 27px;
    background-color: white;
    border: 1px teal solid;
    border-radius: 50%;
    float: right;
    vertical-align: middle;
    left: 73vw;
    top: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input[type=checkbox] {
    display: none;
  }

/* Show the checkmark when checked */
.checkbox_label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_label .checkmark:after {
    position: absolute;
    left: 7px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    float: right;
}



.new_tag {
    padding: 8% 3%;
}

.new_tag_input:focus {
    background-color: white;
    border-bottom: 2px solid #2A9597;
}

/* add new tag modal cancel button */
.new_tag+button { 
    left: 8%;
    width: 20vw;
}

.tag_modal_add_btn {
    position: relative;
    left: 40%;
    width: 20vw;
    display: inline-block;
    font-family: 'Original Surfer';
    cursor: pointer;
    padding: 1.5%;
}

.add_tag_modal_container {
    background-color: #DEF2F1;
    width: 80%;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    padding-bottom: 6%;
    position: absolute;
    bottom: -10vh;
    left: 10vw;
}

.add_tag_modal_container .tag_header {
    background-color: #2A9597;
    color: #F2F2F2;
    font-family: 'Roboto Bold';
    padding: 2% 0 2% 9%;
    font-size: 1.3em;
}

@media only screen and (min-width: 600px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 6%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        width: 20vw;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }


    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 5% 1% 4%;
    }

    .new_tag_input {
        width: 90%;
        padding-left: 2%;
        line-height: 1.8;
        font-size: 0.9em;
        display: inline-block;
        border: 0.5px solid #2A9597;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 50vh;
        overflow: scroll;
    }

}



@media only screen and (min-width: 768px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
        position: relative;
        left: 9%;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 80%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
        left: 9%;
        position: relative;
        top: 1vh;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 6%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        width: 20vw;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 5% 1% 4%;
    }

    .new_tag_input {
        width: 90%;
        padding-left: 2%;
        line-height: 1.8;
        font-size: 0.9em;
        display: inline-block;
        border: 0.5px solid #2A9597;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
        font-size: 1.3em;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 45vh;
        overflow: scroll;
    }

}

@media only screen and (min-width: 1220px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
        position: relative;
        left: 9%;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 80%;
        font-size: 1.3em;
        padding: 1%;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 80%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
        left: 9%;
        position: relative;
        top: 1vh;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 40%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 6%;
        position: relative;
        top: -25px;
        left: 430px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        width: 20vw;
        padding: 1.5%;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }

    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 5% 1% 4%;
    }

    .new_tag_input {
        width: 90%;
        padding-left: 2%;
        line-height: 1.8;
        font-size: 0.9em;
        display: inline-block;
        border: 0.5px solid #2A9597;
    }

    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 32%;
        font-size: 1.3em;
    }

    .surebtn{
        position: relative;
        left: 42%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 45vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 600px){
    .basic_modal {
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1000;
    }

    .basic_modal_content {
        margin: auto;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .basic_modal_content h1 {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .basic_modal_close {
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        top: 10px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 27px;
        font-family: 'Original Surfer';
        color: white;
        cursor: pointer;
    }

    .basic_modal_close:hover {
        color: #ff0000;
        background-color: #dedede;
    }

    .modalbtn{
        position: relative;
        left: 19%;
        font-size: 1.3em;
        padding: 1%;
        margin-left: 5%;
    }

    .cancel{
        background-color: red;
    }

    .update-color{
        background-color: green;
    }

    .modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        font-size: 1em;
        display: block;
        box-sizing: border-box;
        line-height: 4.1em;
        overflow: auto;
    }

    .tag_modal_container {
        background-color: #DEF2F1;
        width: 100%;
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        padding-bottom: 6%;
        position: relative;
        top: -25px;
    }

    .tag_modal_container .tag_header {
        background-color: #2A9597;
        color: #F2F2F2;
        font-family: 'Roboto Bold';
        padding: 2% 0 2% 9%;
        font-size: 1.3em;
    }

    .checkbox {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .modal_input_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        font-size: 1.2em;
    }

    .tag_modal_close_btn {
        /* height: 30px;
        width: 30px;
        line-height: 30px; */
        position: relative;
        display: inline-block;
        font-family: 'Original Surfer';
        color: black;
        cursor: pointer;
        display: inline-block;
        left: 15%;
        padding: 1.5%;
    }

    .tag_modal_apply_btn {
        position: relative;
        left: 45%;
        padding: 1.5%;
        width: 20vw;
        display: inline-block;
        font-family: 'Original Surfer';
        cursor: pointer;
    }


    .custom_tag {
        background-color: #DEF2F1;
        font-family: 'Roberto';
        font-weight: bold;
        border: 0.7px dotted #2A9597;
    }

    .new_tag_label {
        width: 35%;
        height: 30%;;
        text-align: center;
        font-size: 1.3em;
        padding: 1% 5% 1% 4%;
    }

    .new_tag_input {
        width: 90%;
        padding-left: 2%;
        font-size: 0.9em;
        line-height: 1.8;
        display: inline-block;
        background-color: #DEF2F1;
        border: 0.5px solid #2A9597;
    }


    .add_tag_btn {
        font-size: 0.9em;
    }

    .sure{
        color: red;
        position: relative;
        left: 10%;
    }

    .surebtn{
        position: relative;
        left: 35%;
    }

    .material-icons.md-30 { 
        font-size: 30px; 
        color: #2C3531;
        vertical-align: middle;
    }

    .tag_choices_container {
        max-height: 60vh;
        overflow: scroll;
    }

}

