@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto";
}

.category, .tag_text{
    font-weight: bold;
    width: 35%;
    text-align: right;
}

.tag_text {
    line-height: 2;
    display: inline-block;
    vertical-align: top;
}

.panel_size:nth-child(1) {
    padding-top: 5%;
}

.noNote {
    color: #8c8c8c;
}


.no_receipts{
    font-size: 1em;
    overflow-wrap: break-word;
    hyphens: auto;
}





@media only screen and (min-width: 600px){

    body{
        /* min-height: 100vh; */
        width: 100vw;
        margin: 0;
        background-color: white;
    }
    
    .overview_main_container{
        width: 100%;
        padding-top: 55px;
        background-color: white;
        padding-bottom: 125px;
        color: #15191b;
        left: 10%;
        position: relative;
    }
    
    .row{
        background-color: white;
        position: relative;
        width: 75%;
        cursor: pointer;
        transition: 0.4s;
        font-size: 0.9em;
        border-bottom: 1px solid black;
    }
    
    .date_of_purchase, .store_name, .amount_of_purchase{
        margin: 0;
        position: relative;
        display: inline-block;
    } 
    
    .store_name, .date_of_purchase{
        left: 3%;
        font-size: 1.5em;
    }
    
    .store_name{
        top: 2vh;
        padding-bottom: 1%;
        font-family: "Roboto Bold";
    }
    
    .date_of_purchase{
        font-size: 1.3em;
        top: 2vh;
    }
    
    .amount_of_purchase{
        font-family: "Roboto Bold";
        position: absolute;
        right: 0px; 
        padding-right: 2.5%;
        float: right;
        font-size: 1.5em;
    }
    
    .panel{
        display: none;
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        height: 25vh;
    }
    
    .panel_size{
        width: 100%;
        position: relative;
        height: 14%;
        margin-top: 10px;
    }
    
    .category, .data{
        display: inline-block;
        position: relative;
        font-size: 1.2em;
    }
    
    .data{
        left: 5%;
        font-size: 1.2em;
    }
    
    .summary{
        position: fixed;
        bottom: 55px;
        background-color: #E4FDE1;
        width: 100vw;
        margin: 0;
        border: 0.1px solid #8c8c8c;
        font-size: 0.7em;
        padding: 1% 0;
        left: 0;
    }
    
    .summary>p {
        margin: 0;
        font-size: 2.1em;
        text-align: center;
    }
    
    .collapsible_header{
        position: relative;
        bottom: 5vh;
        opacity: 0;
    }
    
    
    .edit{
        position: relative;
        height: 3vh;;
        width: 7%;
        float: right;
        top: 2.5vh;
        right: 5%;
    }
    
    .edit_btn{
        float: right;
        position: relative;
        color: rgb(243, 113, 7);
        top: 0vh;
        padding: 1% 2%;
        transition-duration: 0.4s;
    }
    
    .delete_btn{
        position: relative;
        float: left;
    }
    
    .render_panel{
        font-size: 1.2em;
        margin-top: 1%;
    }
      
    /* .tag_text{
        display: inline-block;
        position: relative;
        right: 1.5%;
    }
     */

     .no_receipts{
        margin-left: 0;
        font-size: 1.5em;
    }
}




@media only screen and (min-width: 768px){
    body{
        /* height: 80vh; */
        width: 100vw;
        margin: 0;
        background-color: white;
    }
    
    .overview_main_container{
        width: 85%;
        padding-top: 65px;
        background-color: white;
        padding-bottom: 177px;
        position: relative;
        left: 11%;
        color: #15191b;
        font-size: 0.8em;
    }
    
    .row{
        background-color: white;
        position: relative;
        width: 75%;
        left: 8%;
        cursor: pointer;
        transition: 0.4s;
        border-bottom: 1px solid black;
    }
    
    .date_of_purchase, .store_name, .amount_of_purchase{
        margin: 0;
        position: relative;
        display: inline-block;
    } 
    
    .store_name, .date_of_purchase{
        left: 3%;
        font-size: 2.1em;
    }
    
    .store_name{
        top: 1vh;
    }
    
    .date_of_purchase{
        top: 1vh;
    }

    .amount_of_purchase{
        left: 40;
        bottom: 2vh;
        padding-right: 2.5%;
        float: right;
        font-size: 1.9em;
    }
    
    .panel{
        display: none;
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        height: 25vh;
    }
    
    .panel_size{
        width: 100%;
        position: relative;
        height: 14%;
        margin-top: 10px;
    }
    
    .category, .data{
        display: inline-block;
        position: relative;
        font-size: 1.5em;
    }
    
    .data{
        left: 5%;
    }
    
    .summary{
        position: fixed;
        bottom: 65px;
        background-color: #E4FDE1;
        width: 100vw;
        margin: 0;
        border: 0.1px solid #8c8c8c;
        left: 0;
        text-align: center;
        padding: 1%;
    }

    .summary>p {
        font-size: 3.5em;
    }
    
    .number_of_receipts, .total_amount{
        margin: 0;
        font-size: 3.5em;
    }
    
    .collapsible_header{
        position: relative;
        bottom: 5vh;
        opacity: 0;
    }
    
    .edit{
        position: relative;
        height: 3vh;;
        width: 7%;
        float: right;
        top: 2.5vh;
        right: 5%;
    }
    
    .accordion_icon{
        font-size: 36px;
    }

    .edit_btn{
        float: right;
        position: relative;
        color: rgb(243, 113, 7);
        top: 0vh;
        padding: 1% 2%;
        transition-duration: 0.4s;
    }
    
    .delete_btn{
        position: relative;
        float: left;
     }
    
    .render_panel{
        font-size: 1.5em;
        margin-top: 1%;
    }
      
    /* .tag_text{
        display: inline-block;
        position: relative;
        right: 8%;
    } */

    .no_receipts{
        text-align: center;
        font-size: 2em;
    }
}





@media only screen and (min-width: 992px){
    body{
        /* height: 100vh; */
        width: 100vw;
        margin: 0;
        background-color: white;
    }
    
    .overview_main_container{
        width: 75%;
        padding-top: 65px;
        background-color: white;
        padding-bottom: 170px;
        position: relative;
        left: 15%;
        top: 0vh;
        color: #15191b;
        font-size: 0.7em;
    }
    
    .row{
        background-color: white;
        position: relative;
        width: 85%;
        left: 9%;
        cursor: pointer;
        transition: 0.4s;
        border-bottom: 1px solid #15191b;
        ;
    }
    
    .date_of_purchase, .store_name, .amount_of_purchase{
        margin: 0;
        position: relative;
        display: inline-block;
    } 
    
    .store_name, .date_of_purchase{
        left: 3%;
        font-size: 2.4em;
    }
    
    .store_name{
        top: 1vh;
    }
    
    .date_of_purchase{
        top: 1vh;
    }

    .amount_of_purchase{
        left: 0;
        bottom: 2vh;
        padding-right: 2.5%;
        float: right;
    }
    
    .panel{
        display: none;
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        height: 25vh;
    }
    
    .panel_size{
        width: 100%;
        position: relative;
        height: 14%;
        margin-top: 10px;
    }
    
    .category, .data{
        display: inline-block;
        position: relative;
        font-size: 2em;
    }

    .data{
        left: 5%;
    }
    
    .summary{
        position: fixed;
        bottom: 65px;
        background-color: #E4FDE1;
        width: 100vw;
        margin: 0;
        border: 0.1px solid #8c8c8c;
        left: 0;
        padding: 1%;
        font-size: 0.65em;
    }
    
    .number_of_receipts, .total_amount{
        margin-left: 4%;;
        font-size: 3em;
        display: inline-block;
    }
    
    .collapsible_header{
        position: relative;
        bottom: 5vh;
        opacity: 0;
    }

    .edit_btn{
        float: right;
        position: relative;
        color: rgb(243, 113, 7);
        top: 0vh;
        padding: 1% 2%;
        transition-duration: 0.4s;
    }
    .render_panel{
        font-size: 2em;
        margin-top: 1%;
    }

    /* .tag_text{
        display: inline-block;
        position: relative;
        right: 4%;
        font-size: 1.3em;
    } */
}





@media only screen and (min-width: 1024px){

    .overview_main_container{
        padding-bottom: 107px;
        font-size: 0.7em;
        width: 65%;
    }

    .summary{
        bottom: 0;
        padding: 1%;
    }

    .amount_of_purchase{
        left: 0;
        bottom: 2vh;
        font-size: 2.4em;
        padding-right: 2.5%;
        float: right;
    }

}





@media only screen and (min-width: 1200px){
    body{
        /* height: 100vh; */
        width: 100vw;
        margin: 0;
        background-color: white;
    }
    
    .overview_main_container{
        width: 75%;
        padding-top: 65px;
        background-color: white;
        padding-bottom: 77px;
        position: relative;
        left: 13%;
        top: 0vh;
        font-size: 0.6em;
        color: #15191b;
    }
    
    .row{
        background-color: white;
        position: relative;
        width: 64%;
        left: 16%;
        cursor: pointer;
        transition: 0.4s;
        border-bottom: 1px solid #15191b;
        ;
    }
    
    .date_of_purchase, .store_name, .amount_of_purchase{
        margin: 0;
        position: relative;
        display: inline-block;
    } 
    
    .store_name, .date_of_purchase{
        left: 3%;
        font-size: 3em;
    }
    
    .store_name{
        top: 1vh;
    }
    
    .date_of_purchase{
        top: 1vh;
    }

    .amount_of_purchase{
        left: 0;
        bottom: 2vh;
        padding-right: 2.5%;
        float: right;
        font-size: 3em;
    }
    
    .panel{
        display: none;
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        height: 25vh;
    }
    
    .panel_size{
        width: 100%;
        position: relative;
        height: 14%;
        margin-top: 10px;
    }
    
    .category, .data{
        display: inline-block;
        position: relative;
        font-size: 2em;
    }

    .data{
        left: 5%;
    }
    
    .summary{
        position: fixed;
        bottom: 0;
        background-color: #E4FDE1;
        width: 100vw;
        margin: 0;
        border: 0.1px solid #8c8c8c;
        left: 0;
        padding: 1% 0;
        font-size: 0.81em;
    }

    .summary>p{
        margin: 0;
        font-size: 3.5em;
        text-align: center;
        position: relative;
        right: 0%;
    }
    
    .number_of_receipts, .total_amount{
        margin-left: 4%;;
        font-size: 3em;
        display: inline-block;
    }
    
    .collapsible_header{
        position: relative;
        bottom: 5vh;
        opacity: 0;
    }

    .edit_btn{
        float: right;
        position: relative;
        color: rgb(243, 113, 7);
        top: 0vh;
        padding: 1% 2%;
        transition-duration: 0.4s;
    }

    /* .tag_text{
        display: inline-block;
        position: relative;
        right: 1.5%;
        font-size: 1.3em;
    } */
}





@media only screen and (max-width: 600px){

    body{
        /* height: 100vh; */
        width: 100vw;
        margin: 0;
        background-color: white;
    }

    .overview_main_container{
        width: 100%;
        padding-top: 50px;
        background-color: white;
        padding-bottom: 111px;
        color: #15191b;
    }

    .row{
        background-color: white;
        position: relative;
        width: 100%;
        cursor: pointer;
        transition: 0.4s;
        font-size: 0.9em;
    }

    .date_of_purchase, .store_name, .amount_of_purchase{
        margin: 0;
        position: relative;
        display: inline-block;
    } 

    .store_name, .date_of_purchase{
        left: 3%;
        font-size: 1.5em;
    }

    .store_name{
        top: 2vh;
        padding-bottom: 1%;
        font-family: "Roboto Bold";
    }

    .date_of_purchase{
        font-size: 1.3em;
        top: 2vh;
    }

    .amount_of_purchase{
        font-family: "Roboto Bold";
        position: absolute;
        right: 0px; 
        padding-right: 2.5%;
        float: right;
        font-size: 1.4em;
    }

    .panel{
        display: none;
        overflow: hidden;
        background-color: white;
        position: relative;
        width: 100%;
        height: 25vh;
    }

    .panel_size{
        width: 100%;
        position: relative;
        height: 14%;
        margin-top: 10px;
    }

    .category, .data{
        display: inline-block;
        position: relative;
        font-size: 1.2em;
    }
    
    .data{
        left: 5%;
        font-size: 1.2em;
    }

    .summary{
        position: fixed;
        bottom: 50px;
        background-color: #E4FDE1;
        width: 100vw;
        margin: 0;
        border: 0.1px solid #8c8c8c;
        font-size: 0.6em;
        padding: 3% 0;
    }

    .summary>p {
        margin: 0;
        font-size: 2.1em;
        text-align: center;
    }

    .collapsible_header{
        position: relative;
        bottom: 5vh;
        opacity: 0;
    }

    .edit{
        position: relative;
        height: 3vh;;
        width: 7%;
        float: right;
        top: 2.5vh;
        right: 5%;
    }

    .edit_btn{
        float: right;
        position: relative;
        color: rgb(243, 113, 7);
        top: 0vh;
        padding: 1% 2%;
        transition-duration: 0.4s;
    }

    .delete_btn{
        position: relative;
        float: left;
    }

    .render_panel{
        font-size: 1.2em;
        margin-top: 1%;
    }
    
    /* .tag_text{
        display: inline-block;
        position: relative;
    } */

    .accordion_icon{
        font-size:32px;
    }

}
