@font-face {    
    font-family: 'Roboto Bold';
    src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {    
    font-family: 'Roboto';
    src: url(../../src/assets/fonts/Roboto-Regular.ttf);
}

@media only screen and (max-width: 600px){
	* {
        font-family: 'Roboto';
    }
    
    fieldset > input {
        padding: 1%;
        font-size: 1em;
        vertical-align: middle;
        box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2), 6px 6px 10px 0 rgba(0,0,0,0.19);
        background-color: white;
        width: 55%;
        text-align: center;
    }
    
    .title {
        color: #98FFA8;
        text-align: center;
        padding: 1% 0 7% 2%;
        font-size: 1.4em;
        font-family: 'Roboto Bold';
    }
    
    .signup_container {
        background-color: #1997A2;
        color: white;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
    }
    
    .signup_logo {
        margin: auto;
        padding: 6% 0 8%;
        display: block;
        width: 90%;
    }
    
    .signup_button {
        background-color: #2E3B3B;
        color: #F2F2F2;
        padding: 0.5%;
        display: block;
        font-size: 1.1em;
        float: right;
        margin-top: 3%;
        margin-right: 23%;
        border-radius: 6px;
        border-color: #2C3531;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        width: 54%;
        cursor: pointer;
    }
    
    .signup_button:active {
        background-color: rgb(63, 78, 78);
        box-shadow: 0 3px rgb(80, 99, 99);
        transform: translateY(4px);
        color: white;
    }
    
    .sign_up_input{
        width: 50%;
        float: right;
        margin-right: 10%;
    }

    .guidelines {
        display: none;
        padding: 5px 5px 2px;
        margin: 10px 15px 0;
        color: orangered;
        background-color: lightgoldenrodyellow;
        font-size: 0.8em;
        text-align: left;
        width: 69%;
        margin-left: 15%;
    }

    .material-icons {
        vertical-align: bottom;
    }

    .guidelines b {
        font-size: 1.1em;
    }

    .username_input:focus + .guidelines {
        display: block;
    }

    .password_input:focus + .guidelines {
        display: block;
    }

    .error {
        display: block;
        background-color: #ff8c1a;
        color: white;
        width: 70%;
        margin: 5px 15%;
        font-size: 0.8em;
    }

    fieldset {
        padding: 0 5%;
        border: none;
    }

    .tutorial_img {
        width: 8%;
        display: inline-block;
    }

    .tutorial_link {
        text-align: left;
        margin-left: 1%;
        padding: 1%;
        color: black;
        font-size: 0.9em;
        display: inline-block;
        vertical-align: top;
    }

    .tutorial_link:visited {
        color: black;
    }
} /* end of @media only screen and (max-width: 600px) */



@media only screen and (min-width: 600px){
    * {
        font-family: 'Roboto';
    }

    fieldset > input {
        padding-right: 1%;
        font-size: 1.2em;
        vertical-align: middle;
        box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2), 6px 6px 10px 0 rgba(0,0,0,0.19);
        background-color: white;
        width: 55%;
        text-align: center;
    }

    .title {
        color: #98FFA8;
        text-align: center;
        padding: 1% 0 7% 2%;
        font-size: 1.4em;
        font-family: 'Roboto Bold';
    }

    .signup_container {
        background-color: #1997A2;
        color: white;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
    }
    
    .signup_logo {
        margin: auto;
        padding: 4% 0;
        display: block;
        width: 80%;
    }

    .signup_button {
        background-color: #2E3B3B;
        color: #F2F2F2;
        padding: 0.5%;
        display: block;
        font-size: 1.3em;
        float: right;
        margin-top: 0%;
        margin-right: 23%;
        border-radius: 6px;
        border-color: #2C3531;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        width: 55%;
        cursor: pointer;
    }

    .signup_button:active {
        background-color: rgb(63, 78, 78);
        box-shadow: 0 3px rgb(80, 99, 99);
        transform: translateY(4px);
        color: white;
    }
    
    .sign_up_input{
        width: 50%;
        float: right;
        margin-right: 10%;
    }

    .guidelines {
        display: none;
        padding: 10px 5px 2px;
        margin: 10px 15px 0;
        color: orangered;
        background-color: lightgoldenrodyellow;
        font-size: 0.9em;
        text-align: left;
        width: 75%;
        margin-left: 12%;
    }

    .material-icons {
        vertical-align: bottom;
    }

    .guidelines b {
        font-size: 1.1em;
    }

    .username_input:focus + .guidelines {
        display: block;
    }

    .password_input:focus + .guidelines {
        display: block;
    }

    .error {
        display: block;
        background-color: #ff8c1a;
        color: white;
        width: 75%;
        margin: 5px 12%;
    }

    fieldset {
        padding: 5% 10% 1%;
        border: none;
    }

    .tutorial_img {
        width: 5.5%;
        display: inline-block;
    }

    .tutorial_link {
        text-align: left;
        margin-left: 1%;
        padding: 1%;
        color: black;
        font-size: 1em;
        display: inline-block;
        vertical-align: top;
    }

    .tutorial_link:visited {
        color: black;
    }
} /* end of @media only screen and (min-width: 600px) */



@media only screen and (min-width: 768px){
    * {
        font-family: 'Roboto';
    }

    fieldset > input {
        padding-right: 1%;
        font-size: 1.2em;
        vertical-align: middle;
        box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2), 6px 6px 10px 0 rgba(0,0,0,0.19);
        background-color: white;
        width: 40%;
        text-align: center;
    }

    .title {
        color: #98FFA8;
        text-align: center;
        padding: 1% 0 7% 2%;
        font-size: 1.4em;
        font-family: 'Roboto Bold';
    }

    .signup_container {
        background-color: #1997A2;
        color: white;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
    }
    
    .signup_logo {
        margin: auto;
        padding-bottom: 2%;
        display: block;
        width: 57%;
    }

    .signup_button {
        background-color: #2E3B3B;
        color: #F2F2F2;
        padding: 0.5%;
        display: block;
        font-size: 1.3em;
        float: right;
        margin-top: 0%;
        margin-right: 30%;
        border-radius: 6px;
        border-color: #2C3531;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        width: 40%;
        cursor: pointer;
    }

    .signup_button:active {
        background-color: rgb(63, 78, 78);
        box-shadow: 0 3px rgb(80, 99, 99);
        transform: translateY(4px);
        color: white;
    }
    
    .sign_up_input{
        width: 50%;
        float: right;
        margin-right: 10%;
    }


    .guidelines {
        display: none;
        padding: 10px 5px 2px;
        margin: 10px 15px 0;
        color: orangered;
        background-color: lightgoldenrodyellow;
        font-size: 0.9em;
        text-align: left;
        width: 65%;
        margin-left: 19%;
    }

    .material-icons {
        vertical-align: bottom;
    }

    .guidelines b {
        font-size: 1.1em;
    }

    .username_input:focus + .guidelines {
        display: block;
    }

    .password_input:focus + .guidelines {
        display: block;
    }

    .error {
        display: block;
        background-color: #ff8c1a;
        color: white;
        width: 65%;
        margin: 5px 19%;
    }

    fieldset {
        padding: 3% 10% 1%;
        border: none;
    }

    .tutorial_img {
        width: 2.5%;
        display: inline-block;
    }

    .tutorial_link {
        text-align: left;
        margin-left: 1%;
        padding: 1%;
        color: black;
        font-size: 1em;
        display: inline-block;
        vertical-align: top;
    }

    .tutorial_link:visited {
        color: black;
    }
} /* end of @media only screen and (min-width: 768px) */



@media only screen and (min-width: 992px){
    * {
        font-family: 'Roboto';
    }

    fieldset > input {
        padding-right: 1%;
        font-size: 1.3em;
        vertical-align: middle;
        box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2), 6px 6px 10px 0 rgba(0,0,0,0.19);
        background-color: white;
        width: 40%;
        text-align: center;
    }

    .title {
        color: #98FFA8;
        text-align: center;
        padding: 1% 0 7% 2%;
        font-size: 1.4em;
        font-family: 'Roboto Bold';
    }

    .signup_container {
        background-color: #1997A2;
        color: white;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
    }
    
    .signup_logo {
        margin: auto;
        padding: 2% 0;
        display: block;
        width: 50%;
    }

    .signup_button {
        background-color: #2E3B3B;
        color: #F2F2F2;
        padding: 0.5%;
        display: block;
        font-size: 1.3em;
        float: right;
        margin-top: 0%;
        margin-right: 30%;
        border-radius: 6px;
        border-color: #2C3531;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        width: 40%;
        cursor: pointer;
    }

    .signup_button:active {
        background-color: rgb(63, 78, 78);
        box-shadow: 0 3px rgb(80, 99, 99);
        transform: translateY(4px);
        color: white;
    }
    
    .sign_up_input{
        width: 50%;
        float: right;
        margin-right: 10%;
    }

    .guidelines {
        display: none;
        padding: 10px 5px 2px;
        margin: 10px 15px 0;
        color: orangered;
        background-color: lightgoldenrodyellow;
        font-size: 0.9em;
        text-align: left;
        width: 50%;
        margin-left: 25%;
    }

    .material-icons {
        vertical-align: bottom;
    }

    .guidelines b {
        font-size: 1.1em;
    }

    .username_input:focus + .guidelines {
        display: block;
    }

    .password_input:focus + .guidelines {
        display: block;
    }

    .error {
        display: block;
        background-color: #ff8c1a;
        color: white;
        width: 54%;
        margin: 5px 25%;
    }

    fieldset {
        padding: 3% 10% 1%;
        border: none;
    }

    .tutorial_img {
        width: 3.5%;
        display: inline-block;
    }

    .tutorial_link {
        text-align: left;
        margin-left: 1%;
        padding: 1%;
        color: black;
        font-size: 1em;
        display: inline-block;
        vertical-align: top;
    }

    .tutorial_link:visited {
        color: black;
    }
} /* end of @media only screen and (min-width: 992px) */



@media only screen and (min-width: 1220px){
    * {
        font-family: 'Roboto';
    }

    fieldset > input {
        padding-right: 1%;
        font-size: 1.5em;
        vertical-align: middle;
        box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2), 6px 6px 10px 0 rgba(0,0,0,0.19);
        background-color: white;
        width: 32%;
        text-align: center;
    }

    .title {
        color: #98FFA8;
        text-align: center;
        padding: 1% 0 7% 2%;
        font-size: 1.4em;
        font-family: 'Roboto Bold';
    }

    .signup_container {
        background-color: #1997A2;
        color: white;
        width: 100vw;
        min-height: 100vh;
        text-align: center;
    }
    
    .signup_logo {
        margin: auto;
        padding-bottom: 2%;
        display: block;
        width: 45%;
    }

    .signup_button {
        background-color: #2E3B3B;
        color: #F2F2F2;
        padding: 0.5%;
        display: block;
        font-size: 1.3em;
        float: right;
        margin-top: 0%;
        margin-right: 34%;
        border-radius: 6px;
        border-color: #2C3531;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        width: 32%;
        cursor: pointer;
    }

    .signup_button:active {
        background-color: rgb(63, 78, 78);
        box-shadow: 0 3px rgb(80, 99, 99);
        transform: translateY(4px);
        color: white;
    }
    
    .sign_up_input{
        width: 50%;
        float: right;
        margin-right: 10%;
    }

    .guidelines {
        display: none;
        padding: 10px 5px 2px;
        margin: 10px 15px 0;
        color: orangered;
        background-color: lightgoldenrodyellow;
        font-size: 0.9em;
        text-align: left;
        width: 32%;
        margin-left: 34%;
    }

    .guidelines b {
        font-size: 1.1em;
    }

    .username_input:focus + .guidelines {
        display: block;
    }

    .password_input:focus + .guidelines {
        display: block;
    }

    .error {
        display: block;
        background-color: #ff8c1a;
        color: white;
        width: 32%;
        margin: 5px 34%;
    }

    fieldset {
        padding: 2% 10% 1%;
        border: none;
    }

    .tutorial_img {
        width: 3.5%;
        display: inline-block;
    }

    .tutorial_link {
        text-align: left;
        margin-left: 1%;
        padding: 1%;
        color: black;
        font-size: 1.2em;
        display: inline-block;
        vertical-align: top;
    }

    .tutorial_link:visited {
        color: black;
    }
} /* end of @media only screen and (min-width: 1220px) */