.title {
    color: #98FFA8;
    text-align: center;
}

.signup_container {
    background-color: #237E80;
    color: #DEF2F1;
    width: 100vw;
    height: 100vh;
}

img {
    margin: auto;
    padding: auto;
    
}

.letsgo {
    background-color: #2C3531;
    color: #F2F2F2;
}